body {
    font-size: 18px;
    font-family: "Open Sans", sans-serif; 
}

/* Global */

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Showcase section */

#showcase {
    background: url("/images/bg-hero-desktop.svg");
}

#showcase header h1 {
    float: left;
}

#showcase header button {
    float: right;
    margin-top: 30px;
    width: 12%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}
